[user]
	name = Anton Shabat
	email = anton.shabat@gmail.com
[core]
	editor = nvim
[init]
	defaultBranch = main
[pull]
	rebase = false
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[diff]
    external = difft
;     tool = difftastic
; [difftool "difftastic"]
;     cmd = difft "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"
; [difftool]
;     prompt = false
; [pager]
;     difftool = true
